/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.wrapper-article {
  margin: 0vh 20vw;
}

.case {
  display:flex;
  justify-content: space-around;
}

.presentation {
  height : 100vh;
}


.bandeau {
  height : 40px;
  background-color: $blue;
  padding : 5px;
}

