<div id="footer" class ="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <ul class="list-inline">
          <li><a target="_blank" href="http://bit.ly/291iAmj"><i class="fa fa-youtube"></i></a></li>
          <li><a target="_blank" href="http://bit.ly/28XOv4I/  "><i class="fa fa-instagram"></i></a></li>
          <li><a target="_blank" href="http://bit.ly/290gSQb"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="http://bit.ly/2924p4b"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="hidden-xs col-sm-7 text-right">
        <p>Dans La Musette</p>
      </div>
    </div>
  </div>
</div>
