<h4 class = "text-center"> Articles </h4>
<p class= "text-center"> #vtt       #triathlon        #cocorico       #sagan       #TDF       #WTF</p>

<div class="container">
  <% @posts.each do |post| %>
  <div class="row">
    <%= link_to post_path(post) do %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2><%= post.title %></h2>
        <p><%= post.description %></p>
      </div>
      <img class="card-user avatar" src="user.jpg">

    </div>
    <%end%>
  </div>
  <%end%>
</div>


